In [35]:
import pandas as pd

In [47]:
prices=pd.read_csv("Close_prices.csv",parse_dates=True)
prices.head(10)

        Date  Close_HDFC  Close_KOTAK  Close_SBI
0   1/3/2000      293.50       229.35     243.65
1   1/4/2000      304.05       246.95     259.10
2   1/5/2000      292.80       228.40     248.45
3   1/6/2000      296.45       225.90     261.00
4   1/7/2000      286.55       208.85     273.30
5  1/10/2000      287.20       192.15     269.50
6  1/11/2000      283.85       176.80     247.95
7  1/12/2000      285.60       162.70     244.75
8  1/13/2000      283.85       167.35     244.50
9  1/14/2000      286.55       159.85     239.20

In [48]:
prices=prices.drop(['Date'],axis=1)
prices.head(5)

   Close_HDFC  Close_KOTAK  Close_SBI
0      293.50       229.35     243.65
1      304.05       246.95     259.10
2      292.80       228.40     248.45
3      296.45       225.90     261.00
4      286.55       208.85     273.30

Computing returns on prices data frame using pct_change

In [49]:
returns=prices.pct_change()
returns=returns.dropna()

In [50]:
returns.head()

   Close_HDFC  Close_KOTAK  Close_SBI
1    0.035945     0.076739   0.063411
2   -0.037000    -0.075116  -0.041104
3    0.012466    -0.010946   0.050513
4   -0.033395    -0.075476   0.047126
5    0.002268    -0.079962  -0.013904

In [51]:
returns.std()

Close_HDFC     0.027077
Close_KOTAK    0.032094
Close_SBI      0.026553
dtype: float64

Clearly above the Standard deviation of SBI stock is the least followed by HDFC stock and then KOTAK stock.Lets try to bring out the Annualized Volatility by converting the above from daily data to yearly data knowing that 250 days data being generated over the period of 1 year.

In [52]:
import numpy as np
Annualized_vol= returns.std()*np.sqrt(250)
Annualized_vol

Close_HDFC     0.428118
Close_KOTAK    0.507455
Close_SBI      0.419844
dtype: float64

Annualizing returns - To do that we will compute returns per day.

In [57]:
num_days= returns.shape[0]
print(num_days)
Ret_per_day=(1+returns).prod()**(1/num_days)-1
Ret_per_day

5255

Close_HDFC     0.000397
Close_KOTAK    0.000403
Close_SBI      0.000127
dtype: float64

In [58]:
annualized_ret=((Ret_per_day+1)**250)-1
annualized_ret

Close_HDFC     0.104414
Close_KOTAK    0.105909
Close_SBI      0.032228
dtype: float64

# **Return Risk Ratio & Sharpe Ratio**

In [59]:
annualized_ret/Annualized_vol

Close_HDFC     0.243892
Close_KOTAK    0.208707
Close_SBI      0.076761
dtype: float64

Lets introduce a risk free rate of 3%

In [60]:
riskfree_rate=0.03
excess_return= annualized_ret-riskfree_rate
Sharpe_ratio = excess_return/Annualized_vol
Sharpe_ratio

Close_HDFC     0.173818
Close_KOTAK    0.149589
Close_SBI      0.005306
dtype: float64

HFDC show a better Return vs Risk performance over the period compared to KOTAK stock follwed by the SBI stock which shows the least Return vs Risk performance.

# **Conclusion:We have imported a real Data dump which was the HDFC,KOTAK and SBI stock market data between 2000 till 2022. We have then succesfully calculated the Return, Variance and Volatility of these stocks in it and then have gone on to compute the Annualized return to Risk ratio and finally the Sharpe ratio. **

In [61]:
!jupyter nbconvert RiskAdjustedReturns.ipynb

[NbConvertApp] Converting notebook RiskAdjustedReturns.ipynb to html
[NbConvertApp] Writing 297287 bytes to RiskAdjustedReturns.html